<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Hero</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://use.fontawesome.com/db293aedfe.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body background="/assets/images/burger-on-blue-ceramic-plate-2015097.jpg">
	{{{ body }}}
</body>

</html>